.bannerImg {
    height: 500px;
    border-radius: 30% 70% 70% 30% / 46% 37% 63% 54%;
}




@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .bannerImg {
        height: 250px;
        border-radius: 30% 70% 70% 30% / 46% 37% 63% 54%;
    }
}